*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url("/home/julian/sei/projects/Project0/images/wallhaven-452wg9.jpg" );
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.space{
    z-index: 2;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.title{
    font-family: 'Great Vibes', cursive;
    color: goldenrod;
    padding-top: 20px;
    font-size: 50px;
}
.hand{
    z-index: 2;
    padding: 20px 40px 27px 40px;
}
.card-images{
    height: 419px;
    width: 300px;
}
.allCards{
    height: 419px;
    width: 300px;
    max-width: 300px;
}
#card1{
    height: 419px;
    width: 300px;
    max-width: 300px;
}
#card2{
    height: 419px;
    width: 300px;
    max-width: 300px;
}
.start-turn{
    margin: 30px;
}
.name-input{
    
}
